<mat-card class="responsive-card">
     <button mat-flat-button color="primary" style="left: 15px;top: 15px; width: 200px" type="button"
    (click)="openCreateDialog()">Thêm nhà cung cấp</button>

  <!-- Danh sách sản phẩm -->
  <mat-card-content>
    <table class="table text-center">
      <thead>
        <tr>
          <th>Tên nhà cung cấp</th>
          <th>Địa chỉ</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Hoạt động</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listSupplier; trackBy: trackById">
          <td>{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.deleted ? "Không hoạt động" : "Hoạt động"}}</td>

          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEditDialog(item)">
                <mat-icon>edit</mat-icon>
                <span>Sửa</span>
              </button>
              <button mat-menu-item (click)="openDeleteDialog(item)">
                <mat-icon>delete</mat-icon>
                <span>Xóa</span>
              </button>
              <button mat-menu-item (click)="openActiveDialog(item)">
                <mat-icon>check_circle</mat-icon>
                <span>Kích hoạt</span>
              </button>
            </mat-menu>
          </td>

        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>