<h2 mat-dialog-title>Chỉnh sửa danh mục</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Tên danh mục</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mô tả</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>

  <!-- Hiển thị ảnh cũ nếu có -->
  <div *ngIf="data.image">
    <h4>Ảnh hiện tại:</h4>
    <img src="http://localhost:8080/images/category/{{ data.image }}" alt="Category Image" style="max-width: 150px; max-height: 100px; margin-top: 10px; margin-left: 40%;">
  </div>

  <!-- Input chọn ảnh -->
  <input type="file" (change)="onFileSelected($event)" accept="image/*">

  <!-- Hiển thị ảnh xem trước -->
  <div *ngIf="imagePreview">
    <p>Ảnh xem trước:</p>
    <img [src]="imagePreview" alt="Preview" style="max-width: 150px; max-height: 100px; margin-top: 10px; margin-left: 40%;">
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Hủy</button>
  <button mat-flat-button color="primary" (click)="onSave()">Lưu</button>
</mat-dialog-actions>
